html {
  height: 100%;
  width: 100%;
}body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

#noteForm {
  margin-bottom: 20px;
}

input, select, button {
  padding: 10px;
  margin-right: 5px;
  font-size: 1em;
}

#emptyMessage {
  text-align: center;
  font-size: 1.2em;
  color: #777;
  margin-top: 30px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #e0e0e0;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.dark-mode li {
  background: #333;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
    padding: 10px;
  }

  input, select, button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
}
